{% extends 'base.html' %}
{% load static %}

{% block title %}Pagina de Inicio sistema empleados{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <!--IMAGEN DE PORTADA-->
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
          <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          </div>
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/coche1.jpg' %}" alt="Space">
              </figure>
            </li>
            <li class="orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/coche2.jpg' %}" alt="Space">
              </figure>
            </li>
          </ul>
        </div>
      </div>
    <!-- FIN IMAGEN DE PORTADA-->

    <!-- BLOQUE DE BIENVENIDA -->
    <div class="grid-x align-center" style="margin-top:20px;">
        <h1 class="cell large-8" style="font-size:40px; text-align:center;">Bienvenido a Automóviles</h1>
        <div class="cell large-7">
            <div class="callout success" style="text-align:center;">
                <h5>Registra y controla automoviles</h5>
                <a href="{% url 'coche_app:list_coches' %}">Ver coches</a>
              </div>
        </div>
    </div>
    <!-- FIN BLOQUE DE BIENVENIDA -->
{% endblock content %}