{% extends 'base.html' %}

{% block title %}Eliminar Coche{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container" style="margin-top:50px;">
        <div class="grid-x">
            <h1 class="cell">Eliminar Coche {{object.matricula}}</h1>
            <div class="cell">
                <form class="cell" method="POST">{% csrf_token %}
                    <div class="callout secondary">
                        <h5>¿Desea eliminar este coche?</h5>
                        <button type="submit" class="alert button">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}