{% extends 'base.html' %}

{% block title %}Lista Coches{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container"  style="margin-top:50px;">
        <div class="grid-x">
            <h1 class="cell">Lista de Coches</h1>
            <form class="cell grid-x grid-margin-x" method="GET">{% csrf_token %}
                <div class="cell large-7">
                    <input type="text" id="kword" name="kword" placeholder="Buscar Marca">
                </div>
                <div class="cell large-2">
                    <button type="submit" class="submit success button">Buscar</button>
                </div>
            </form>
            <div class="cell">
                <table>
                    <thead>
                      <tr>
                        <th width="50">MATRICULA</th>
                        <th width="150">MARCA</th>
                        <th width="150">MODELO</th>
                        <th width="150">FECHA CREACION</th>
                        <th width="10"></th>
                        <th width="10"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for c in lista_coches %}
                            <tr>
                                <td>{{c.matricula}}</td>
                                <td>{{c.marca}}</td>
                                <td>{{c.modelo}}</td>
                                <td>{{c.fecha_creacion}}</td>
                                <td><a class="button warning" href="{% url 'coche_app:edit_coches' c.id %}">Editar</a></td>
                                <td><a class="alert button" href="{% url 'coche_app:delete_coches' c.id %}">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>

            <div class="cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="pagination-previous">
                                <a href="?page={{page_obj.previous_page_number}}">Atrás</a>
                            </li>
                        {% endif %}
                        
                        {% for pagina in paginator.page_range %}
                            {% ifequal pagina page_obj.number %}
                                <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
                            {% else %}
                                <li><a href="?page={{pagina}}">{{pagina}}</a></li>
                            {% endifequal%}
                            
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="pagination-next">
                                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
                            </li>
                        {% endif %}
                    </ul>
                  </nav>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock content%}