{% extends 'base.html' %}

{% block title %}Editar Marca{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container" style="margin-top:50px;">
        <div class="grid-x">
            <h1 class="cell">Editar Marca</h1>
            <div class="cell">
                <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                    <div class="medium-6 cell">
                        <label>Marca:
                          {{form.nombre}}
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Fundador:
                          {{form.fundador}}
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Fecha Fundacion:
                          {{form.fecha_fundacion}}
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Telefono Atencion al Cliente:
                          {{form.telefono_atencion}}
                        </label>
                    </div>
                    <div class="medium-12 cell">
                        <label>Modelos:
                          {{form.modelos}}
                        </label>
                    </div>
                    <div class="cell">
                        <button type="submit" class="submit success button">Actualizar</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    
{% endblock content %}
